body {
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color:#777;
    background-color: #777;
    width:960px;
    font-size:18px;
    text-align: center;
    margin: 0 auto;
}

.header {
   background-color:  #ebebeb;
   padding: 20px;
   margin: 20px; 
   text-align: center;
}

.nav {
    background-color:  #ebebeb;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.section {
    background-color:  #ebebeb;
    text-align: center;
    width: 495px;
    height: 200px;
    padding: 20px;
    position: relative; 
    top: -235px;
    right: -20px

}

.article {
    background-color: darkgrey;
    text-align: center;
    width: 475px;
    padding: 20px;
    position: relative;

}

.h {
    background-color:  #ebebeb;
    text-align: center;
    padding: 15px;
    width: 400px;
    position: relative;
}

.p {
    background-color:  #ebebeb;
    text-align: center;
    width: 400px;
    padding: 15px;
    position: relative;

}

.aside {
    background-color:  #ebebeb;
    text-align: center;
    margin-left: 500px;
    padding: 20px;
    width: 324px;
    position: relative;
}

.footer {
    background-color:  #ebebeb;
    text-align: center;
    margin: 20px;
    padding: 20px;
    position: relative;
}




    

    